<!DOCTYPE html>
<html>
    <head>
        <title>HackaKaraj</title>
        <link rel='stylesheet' href='/css/style.css' />
    </head>
    <body>
        <header>
            <div class="team">
                <h3 class="name"></h3>
                <span>score: <span class="score"></span></span>
            </div>
            <time></time>
        </header>
        <main>
            <aside>
                <header>
                    <img src="./assets/images/leaderboard.png" alt="Leaderboard Icon">
                </header>
                <ol class="ranks"></ol>
            </aside>
            <section>
                <nav>
                    <li data-page="challenge">Challenge</li>
                    <li data-page="editor">Code</li>
                    <li data-page="output">Output</li>
                    <li data-page="output" class="submit">Run The Code<em>(F5)</em></li>
                </nav>
                <div class="tab-page" id="challenge"><iframe src="/challenge"></iframe></div>
                <div class="tab-page" id="editor"></div>
                <div class="tab-page" id="output">
                    <div class="cssload-container">
                        <div class="cssload-whirlpool"></div>
                        <span>Running The Code...</span>
                    </div>
                    <div class="input">
                        <h1>Input:</h1>
                        <pre></pre>
                    </div>
                    <div class="output">
                        <h1>Output:</h1>
                        <pre></pre>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="connection"></div>
            <span>All right reserved by <a href="http://hackaglobal.com/" title="HackaGlobal - The largest global community of developers!" target="_blank">HackaGlobal</a></span>
        </footer>
        <div class="float-box">
            <div>
                <span>Welcome to <b>HackaKaraj!</b>:)</span>
                <input type="text" class="username" placeholder="Username here" tabindex="1">
                <button>Enter</button>
            </div>
        </div>
        <script src="/javascripts/socket.io/socket.io.js"></script>
        <script src="/javascripts/ace/ace.js" charset="utf-8"></script>
        <script src="/javascripts/ace/ext-language_tools.js"></script>
        <script src="main.bundle.js" charset="utf-8"></script>
    </body>
</html>
