<!DOCTYPE html>
<html>
    <head>
        <title>HackaTehran</title>
        <link rel='stylesheet' href='/css/style.css' />
    </head>
    <body>
        <header>
            <div class="team">
                <h3 class="name">Eagle Team</h3>
                <span>score: 76</span>
            </div>
            <time>14:02</time>
        </header>
        <main>
            <aside>
                <header>
                    <img src="./assets/images/leaderboard.png" alt="Leaderboard Icon">
                </header>
                <ol class="ranks"></ol>
            </aside>
            <section>
                <nav>
                    <li>Challenge</li>
                    <li class="active">Code</li>
                    <li>Output</li>
                    <li class="submit">Run The Code<em>(F5)</em></li>
                </nav>
                <div id="editor"></div>
            </section>
        </main>
        <footer>
            All right reserved by <a href="http://hackaglobal.com/" title="HackaGlobal - The largest global community of developers!" target="_blank">HackaGlobal</a>
        </footer>
        <script type="text/javascript" src="/javascripts/ace/ace.js" charset="utf-8"></script>
        <script src="/javascripts/ace/ext-language_tools.js"></script>
        <script type="text/javascript" src="main.bundle.js" charset="utf-8"></script>
    </body>
</html>
