<!DOCTYPE html>
<html>
    <head>
        <title>HackaTehran</title>
        <link rel='stylesheet' href='/css/style.css' />
    </head>
    <body>
        <header>
            <div class="team">
                <h3 class="name">Eagle Team</h3>
                <span>score: 76</span>
            </div>
            <time>14:02</time>
        </header>
        <main>
            <aside>
                <header>
                    <img src="./assets/images/leaderboard.png" alt="Leaderboard Icon">
                </header>
                <ol class="ranks">
                    <li>
                        <span class="name">Eagle Team</span><span class="score">32</span>
                        <div class="progress"></div>
                    </li>
                    <li>
                        <span class="name">Immortal Team</span><span class="score">32</span>
                        <div class="progress"></div>
                    </li>
                    <li>
                        <span class="name">Mortal Team</span><span class="score">32</span>
                        <div class="progress"></div>
                    </li>
                    <li>
                        <span class="name">Bear Team</span><span class="score">32</span>
                        <div class="progress"></div>
                    </li>
                    <li>
                        <span class="name">Horse Team</span><span class="score">32</span>
                        <div class="progress"></div>
                    </li>
                    <li>
                        <span class="name">Pinguin Team</span><span class="score">32</span>
                        <div class="progress"></div>
                    </li>
                    <li>
                        <span class="name">Dogs Team</span><span class="score">32</span>
                        <div class="progress"></div>
                    </li>
                    <li>
                        <span class="name">Shi**y Team</span><span class="score">32</span>
                        <div class="progress"></div>
                    </li>
                </ol>
            </aside>
            <section>
                <nav>
                    <li>Challenge</li>
                    <li class="active">Code</li>
                    <li>Output</li>
                    <li class="submit">Submit<em>(ctrl + R)</em></li>
                </nav>
                <div id="editor"></div>
            </section>
        </main>
        <footer>
            
        </footer>
        <script type="text/javascript" src="/javascripts/ace/ace.js" charset="utf-8"></script>
        <script type="text/javascript" src="main.bundle.js" charset="utf-8"></script>
    </body>
</html>
