::selection {
    background: rgba(0,0,0,0.2);
}

.app {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app > header {
    background-color: #444;
    background-image: url(../assets/images/hacka-logo-white.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    flex-basis: 80px;
    min-height: 80px;
    z-index: 5;
    box-shadow: 0 0 50px rgba(0,0,0,0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-duration: 0.3s;
}
.app > header > time {
    text-align: center;
    font-size: 30px;
    color: #FFF;
    margin-right: 20px;
}
.app > header > div {
    background: #CCC;
    align-self: stretch;
    padding: 12px 20px;
}
.app > header > div > h3 {
    margin: 0;
}
.app > footer {
    transition-duration: 0.3s;
    background: #333;
    flex-basis: 20px;
    min-width: 20px;
    z-index: 5;
}
.app > footer > select.language-choose {
    background: #444;
    font-size: 12px;
    padding-left: 10px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    outline: none;
    width: 150px;
    color: white;
    border: none;
}
.app > main {
    flex-grow: 1;
    display: flex;
    flex-direction: row-reverse;
    transition-duration: 0.3s;
}
.app > main > aside {
    background: #EEE;
    flex-grow: 1;
    flex-basis: 100%;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    z-index: 2;
    display: flex;
    flex-direction: column;
    transition-duration: 1s;
}
.app > main > aside.disable {
    filter: grayscale(100%) blur(5px);
}
.app > main > aside > header {
    text-align: center;
}
.app > main > aside > ol.ranks {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-grow: 1;
    min-width: 180px;
    text-align: left;
    overflow-y: auto;
    position: relative;
}
.app > main > aside > ol.ranks > li {
    padding: 10px 0;
    font-weight: bold;
    border: 1px solid #DDD;
    margin: 5px 10px;
    padding-left: 15px;
    overflow: hidden;
    position: absolute;
    width: calc(100% - 35px);
    transition-duration: 0.5s;
    white-space: nowrap;
}
.app > main > aside > ol.ranks > li.me {
    border-left: 8px solid #fbcb42;
    width: calc(100% - 43px);
}
.app > main > aside > ol.ranks > li > .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #2b1174, #eba4e6);
    z-index: -1;
    transition-duration: 0.5s;
}
.app > main > aside > ol.ranks > li > .behind-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #777, #ddd);
    z-index: -2;
}
.app > main > aside > ol.ranks > li > span.name {
    color: white;
    white-space: nowrap;
}
.app > main > aside > ol.ranks > li > span.rank {
    color: orange;
    font-size: 120%;
}
.app > main > aside > ol.ranks > li > span.score {
    font-size: 70%;
    font-weight: normal;
    color: yellow;
    margin-left: 7px;
    white-space: nowrap;
}
.app > main > aside > ol.ranks > li > span.score:before {
    content: " (score: ";
}
.app > main > aside > ol.ranks > li > span.score:after {
    content: ")";
}
.app > main > aside > header > img {
    width: 70px;
    margin-top: 15px;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
}
.app > main > section {
    background: white;
    flex-grow: 4;
    flex-basis: 350%;
    display: flex;
    flex-direction: column;
}
.app > main > section > nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    align-items: stretch;
    height: 45px;
    min-height: 45px;
}
.app > main > section > nav > li {
    flex-grow: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EFEFEF;
    cursor: pointer;
    border-bottom: 4px solid #cfcfcf;
}
.app > main > section > nav > li:hover {
    background: #DDD;
}
.app > main > section > nav > li.active {
    pointer-events: none;
    border-bottom: 4px solid #9c6acf;
}
.app > main > section > nav > li.submit {
    background: #39c484;
    color: white;
    border-bottom: none;
    flex-grow: 0.3;
}
.app.disable-mode > main > section > nav > li.submit {
    pointer-events: none;
    background: #bbb;
}
.app > main > section > nav > li.submit:hover {
    background: #15ad67;
}
.app > main > section > nav > li > em {
    font-style: normal;
    font-size: 12px;
    margin-left: 5px;
    color: #EEE;
}

.app > main > section > #editor {
    flex-grow: 1;
    font-size: 16px;
}
.app > main > section > #challenge {
    flex-grow: 1;
    display: flex;
}
.app > main > section > #challenge > iframe {
    border: none;
    flex-grow: 1;
}
.app > main > section > #output {
    flex-grow: 1;
    position: relative;
    display: block;
}
.app > main > section > #output > .cssload-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(240, 240, 240, 0.8);
}
.app > main > section > #output > .cssload-container > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(50px);
}
.app > main > section > #output > aside {
    background: #DDD;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.app > main > section > #output > aside li {
    width: 50px;
    height: 50px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 21px;
    color: #222;
    background: rgba(255,252,255,0.4);
    margin-bottom: 2px;
    cursor: pointer;
}
.app > main > section > #output > aside li:hover {
    background: rgba(255,252,255,0.8);
}
.app > main > section > #output > aside li.active {
    background: white;
    pointer-events: none;
}
.app > main > section > #output > section {
    flex-grow: 1;
    overflow: auto;
}
.app > main > section > #output > section > div {
    margin: 40px;
    display: block;
}
.app > main > section > #output > section > div > h1 {
    margin: 5px 10px;
}
.app > main > section > #output > section > div > pre {
    flex-grow: 1;
    background: #EEE;
    text-align: left;
    font-weight: bold;
    padding: 30px;
    font-size: 20px;
    overflow: auto;
    white-space: pre-wrap;
}
.app > main > section > #output > section > div > pre.error-mode {
    color: #b30000;
}
.app > main > section > #output > section > div > pre span.green {
    color: green;
}
.app > main > section > #output > section > div > pre span.red {
    color: red;
}
.app > main > section > #output > section > div.submit-container {
    padding: 30px;
    text-align: center;
}
.app > main > section > #output > section > div.submit-container:hover {
    text-align: left;
}
.app > main > section > #output > section > div.submit-container > button {
    color: #fff;
    font-size: 18px;
    padding: 14px 25px;
    background: #0088ff;
    border: 0;
    cursor: pointer;
    outline: none;
}
.app > main > section > #output > section > div.submit-container > button:hover {
    opacity: 0.8;
}
.app.disable-mode > main > section > #output > section > div.submit-container > button {
    pointer-events: none;
    background: #bbb;
}
@media (max-width: 600px) {
    .app > main {
        flex-direction: column;
    }
    .app > main > aside {
        max-height: 250px;
    }
}
.app > footer {
    color: #DDD;
    min-height: 20px;
    text-align: center;
    font-size: 12px;
    padding: 5px 0;
    cursor: default;
    position: relative;
}
.app > footer > span > a {
    color: white;
    text-decoration: none;
}
.app > footer > span > a:hover {
    opacity: 0.5;
}
.app > footer > .connection {
    background: lime;
    box-shadow: 0 0 10px lime;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}
.app > footer > .connection.fail {
    background: #ff2424;
    box-shadow: 0 0 10px #ff2424;
}
.app > dialog {
    z-index: 999;
    border: none;
    top: 50%;
    transform: translateY(-50%) scale(0.9);
    opacity: 0;
    text-align: center;
    display: block;
    background: transparent;
    transition-duration: 0.3s;
    pointer-events: none;
}
.app > dialog > img {
    margin-bottom: -35px;
}
.app > dialog > h2 {
    margin-bottom: 5px;
}
.app > dialog > span {
    font-size: 30px;
}
.app.highscore-mode > header, .app.highscore-mode > main, .app.highscore-mode > footer {
    filter: blur(15px);
    pointer-events: none;
}
.app.highscore-mode > dialog {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-50%) scale(1)
}

.float-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: white;
    transition-duration: 0.6s;
    transition-timing-function: linear;
}
.float-box.hidden {
    transform: scale(1.1);
    opacity: 0;
    pointer-events: none;
}
.float-box > form {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition-duration: 1.5s;
}
.float-box > form > span {
    font-size: 50px;
    font-weight: 100;
    display: block;
    margin-bottom: -30px;
    transition-duration: 1.5s;
}
.float-box > form > span > b {
    font-weight: normal;
}
.float-box > form > input {
    border: none;
    font-size: 23px;
    width: 250px;
    margin-top: 15px;
    text-align: center;
    outline: none;
    font-weight: 100;
    padding-bottom: 5px;
    opacity: 0.5;
    border-bottom: 1px solid #555;
    transition-duration: 0.3s;
}
.float-box > form > input:focus {
    opacity: 1;
    width: 300px;
}
.float-box > form > input.wrong {
    border-bottom-color: red;
    color: red;
}
.float-box > form > button {
    display: block;
    width: 150px;
    margin: auto;
    font-size: 22px;
    font-weight: 100;
    border: none;
    margin-top: 15px;
    background: #555;
    color: white;
    padding: 8px 8px;
    cursor: pointer;
    transition-duration: 0.1s;
    outline: none;
}
.float-box > form > button:hover, .float-box > div > button:focus {
    background: #333;
}
.float-box > form > button:active {
    transform: scale(0.9)
}
.float-box.animate > form {
    opacity: 1;
    pointer-events: auto;
}
.float-box.animate > form > span {
    margin-bottom: 20px;
}


.cssload-container{
    position:relative;
}

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid rgb(204,204,204);
    border-left-color: rgb(0,0,0);
    border-radius: 974px;
    -o-border-radius: 974px;
    -ms-border-radius: 974px;
    -webkit-border-radius: 974px;
    -moz-border-radius: 974px;
}

.cssload-whirlpool {
    margin: -24px 0 0 -24px;
    height: 49px;
    width: 49px;
    animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before {
    content: "";
    margin: -22px 0 0 -22px;
    height: 43px;
    width: 43px;
    animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
    content: "";
    margin: -28px 0 0 -28px;
    height: 55px;
    width: 55px;
    animation: cssload-rotate 2300ms linear infinite;
    -o-animation: cssload-rotate 2300ms linear infinite;
    -ms-animation: cssload-rotate 2300ms linear infinite;
    -webkit-animation: cssload-rotate 2300ms linear infinite;
    -moz-animation: cssload-rotate 2300ms linear infinite;
}

@keyframes cssload-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-rotate {
    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-rotate {
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-rotate {
    100% {
        -moz-transform: rotate(360deg);
    }
}


.final-box {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999999;
    opacity: 0;
    background: rgba(255,255,255,0.95);
    pointer-events: none;
}
.final-box.show {
    opacity: 1;
    pointer-events: auto;
}
.final-box h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    text-align: center;
    opacity: 0;
}
.final-box h1 img {
    margin: auto;
    display: none;
    margin-bottom: 15px;
}
.final-box h1 span {
    font-size: 150px;
    white-space: nowrap;
}
.final-box h1.show {
    transition-duration: 0.5s;
    opacity: 1;
    transform: translate(-50%, -50%);
}
.final-box.result {
    background: linear-gradient(rgba(212,242,255,.95), rgb(225, 212, 255))
}
.final-box.result h1 span {
    font-size: 50px;
    color: #004674;
}
.final-box.winner {
    background: linear-gradient(rgba(222, 255, 212, 0.95),#9edb81);
    animation: lightdancer 5s linear infinite;
}
.final-box.winner h1 img {
    display: block;
}
.final-box.winner h1 span {
    color: white;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.3);
}
.winning-song {
    display: none;
}

@keyframes lightdancer {
    0% {
        filter: hue-rotate(0deg)
    }
    100% {
        filter: hue-rotate(360deg)
    }
}