& > aside
    background: #282c34
    flex-grow: 1
    flex-basis: 100%
    box-shadow: 0 0 30px rgba(0,0,0,0.3)
    z-index: 2
    display: flex
    flex-direction: column
    transition-duration: 1s

    &.disable
        filter: grayscale(50%)

        & > ol.ranks
            filter: blur(5px)

    & > header
        background: #5693f0 url('./assets/images/trophy.png') no-repeat 20px center
        height: 60px
        color: white
        display: flex
        align-items: center
        padding-left: 60px

    & > ol.ranks
        margin: 0
        padding: 0
        list-style-type: none
        flex-grow: 1
        min-width: 180px
        text-align: left
        overflow-y: auto
        position: relative

        & > li
            padding: 37px 0 14px 15px
            font-weight: bold
            border-radius: 8px
            margin: 10px
            overflow: hidden
            position: absolute
            width: calc(100% - 35px)
            transition-duration: 0.5s
            white-space: nowrap
            background: #33373e

            & > .behind-progress
                position: absolute
                bottom: 11px
                left: 20%
                width: 74%
                height: 6px
                background: #21252b
                overflow: hidden
                border-radius: 10px

                & > .progress
                    position: absolute
                    top: 0
                    left: 0
                    width: 0
                    height: 100%
                    border-radius: 10px
                    background: linear-gradient(to right, #ffd944, #ffa309)
                    transition-duration: 0.5s

            & > span

                &.name
                    font-weight: normal
                    position: absolute
                    font-size: 14px
                    left: 20%
                    bottom: 24px
                    color: white
                    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5)

                &.rank
                    color: #e0e0e0
                    font-size: 20px
                    position: absolute
                    left: 23px
                    top: 48%
                    transform: translateY(-50%)
                    font-weight: 100

                &.score
                    font-size: 13px
                    font-weight: normal
                    color: #e0e0e0
                    position: absolute
                    right: 6%
                    bottom: 25px