#output
    flex-grow: 1
    position: relative
    display: block
    background: #21252b
    color: white

    & > .cssload-container
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background: rgba(240, 240, 240, 0.8)

        & > span
            position: absolute
            top: 50%
            left: 50%
            transform: translate(-50%, -50%) translateY(50px)

    & > aside
        display: flex
        justify-content: flex-start
        flex-direction: column
        background: #272f3a

        li
            width: 50px
            height: 50px
            list-style-type: none
            display: flex
            justify-content: center
            align-items: center
            font-weight: bold
            font-size: 21px
            background: rgba(0, 0, 0, 0.4)
            margin-bottom: 2px
            cursor: pointer
            color: white

            &:hover
                background: rgba(0, 0, 0, 0.8)

            &.active
                background: #21252b
                pointer-events: none

    & > section
        flex-grow: 1
        overflow: auto

        & > div
            margin: 40px
            display: block

            & > h1
                margin: 5px 10px

            pre
                flex-grow: 1
                background: #33373e
                text-align: left
                font-weight: bold
                padding: 30px
                font-size: 20px
                overflow: auto
                white-space: pre-wrap

                &.error-mode
                    color: #b30000

                span

                    &.green
                        color: green

                    &.red
                        color: red

            &.result
                display: flex
                background: #272f3a
                border-radius: 10px
                box-shadow: 0 0 30px rgba(0, 0, 0, 0.2)

                & > div
                    flex-grow: 1
                    text-align: center
                    border-right: 1px solid rgba(255, 255, 255, 0.1)
                    padding: 30px
                    font-size: 20px

                    &:last-child
                        border-right: none

                    & > span
                        display: block
                        font-weight: bold
                        font-size: 30px
                        margin-top: 10px

            &.submit-container
                padding: 30px
                text-align: center

                & > button
                    color: #fff
                    font-size: 18px
                    padding: 20px 75px
                    background: #5693f0
                    border: 0
                    cursor: pointer
                    outline: none
                    border-radius: 10px
                    transition-duration: 0.3s

                    &:hover
                        background: #7cb0ff

                    &:active
                        background: #344765
                        opacity: 0.8
                        transform: scale(0.9)